*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('new-year.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: lawngreen;
    font-family: 'Lato',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
h1{
    font-size: 100px;
    margin: -80px 0 40px;
}
.year{
    font-size: 300px;
    opacity: 0.2;
    position: absolute;
    bottom: 30px;
}
.countdown{
    display: none;
    flex-direction: row;
    transform: scale(2);
    text-align: center;
}
.time{
    margin: 15px;
}
.time h2{
    margin: 0 0 5px;
}
@media (max-widtx:500px){
    h1{
        font-size: 45px;
    }
    .time{
        margin: 5px;
    }
    time h2{
        margin: 0;
        font-size: 12px;
    }
    .time small{
        font-size: 10px;
    }
    .year{
        font-size: 150px;
    }
} 
